<div class="auth-bg">
  <div class="auth-card">
    <div class="auth-title">Vendor Reliability<br>Intelligence Platform</div>
    
    <div class="auth-subtitle">Create Account</div>
    
    <div class="auth-form">
      <div *ngIf="successMessage" class="success-alert" style="color: green; background-color: #e6ffed; padding: 10px; border-radius: 5px; margin-bottom: 15px;">
        ✅ {{ successMessage }}
      </div>
      <div *ngIf="errorMessage" class="error-alert" style="color: red; background-color: #ffe6e6; padding: 10px; border-radius: 5px; margin-bottom: 15px;">
        ⚠️ {{ errorMessage }}
      </div>
      
      <div *ngIf="step === 1">
      <div class="field-group">
        <label class="field-label">Full Name</label>
        <input class="field-input" type="text" [(ngModel)]="fullName" placeholder="Enter your Name">
      </div>
      
      <div class="field-group">
        <label class="field-label">Employee id</label>
        <input class="field-input" type="text" [(ngModel)]="employeeId" placeholder="Enter your Employee id">
      </div>
      
      <div class="field-group">
        <label class="field-label">Company Name</label>
        <input class="field-input" type="text" [(ngModel)]="companyName" placeholder="Enter complany Name">
      </div>
      
      <div class="field-group">
        <label class="field-label">Email Address</label>
        <input class="field-input" type="email" [(ngModel)]="email" placeholder="Enter your Email">
      </div>
      
      <div class="field-group">
        <label class="field-label">Mobile Number</label>
        <input class="field-input" type="text" [(ngModel)]="mobile" placeholder="Enter mobile Number">
      </div>
      
      <div class="field-group">
        <label class="field-label">Password</label>
        <input class="field-input" type="password" [(ngModel)]="password" placeholder="Enter your Password">
      </div>
      
      <div class="field-group">
        <label class="field-label">Confirm Password</label>
        <input class="field-input" type="password" [(ngModel)]="confirmPassword" placeholder="Re-enter your Password">
      </div>
      
      <div class="field-group">
        <label class="field-label">Role</label>
        <select class="field-select" [(ngModel)]="role">
          <option value="" disabled selected>Select your Role</option>
          <option *ngFor="let r of roles" [value]="r">{{r}}</option>
        </select>
      </div>

        <button class="btn-primary" (click)="onRegister()">Register</button>
      </div>

      <div *ngIf="step === 2">
        <div class="field-group">
          <label class="field-label">Verification Code (OTP)</label>
          <input class="field-input" type="text" [(ngModel)]="otp" placeholder="Enter 6-digit OTP sent to email">
        </div>
        <button class="btn-primary" (click)="onVerifyOtp()">Verify OTP</button>
      </div>

      <p class="login-link">Already have an account? <a routerLink="/login" class="link-blue">Login</a></p>
    </div>
  </div>
</div>